/* CSS codes for the qr scan code*/
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%)
  }

.whitespace {
  background-color: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: auto;
  border-radius: 6px;
  box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.05);
}

.qr-code {
  width: 180px;
  border-radius: 6px;
  align-items: center;
}

.first-text {
  font-family: Arial;
  text-align: center;
  width: 150px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}

.second-text {
  font-family: Arial;
  text-align: center;
  width: 180px;
  font-size: 10px;
  font-weight: 700;
  color: gray;
  line-height: 12px;
}

